@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
@rendermode InteractiveServer

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Group Chat</h5>
                    <div class="form-group">
                        <label>Group Name:</label>
                        <input @bind="groupName" class="form-control" />
                    </div>
                    <button class="btn btn-primary" @onclick="JoinGroup">Join Group</button>
                    <button class="btn btn-danger" @onclick="LeaveGroup">Leave Group</button>
                    <hr />
                    <div class="messages" style="height: 300px; overflow-y: scroll;">
                        @foreach (var message in messages)
                        {
                            <div>@message</div>
                        }
                    </div>
                    <div class="form-group">
                        <label>Message:</label>
                        <input @bind="messageInput" @bind:event="oninput" @onkeyup="HandleKeyPress" class="form-control" />
                    </div>
                    <button class="btn btn-primary" @onclick="SendMessage">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

