@page "/chat"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<h3 class="@HeaderClass">Grupni chat</h3>

<div>
    <input class="form-control" @bind="groupName" placeholder="Ime grupe" />
    <button class="btn btn-link" @onclick="JoinGroup">Udji u grupu</button>
    <button class="btn btn-link" @onclick="LeaveGroup">Izadji iz grupe</button>
</div>

<div>
    <input class="form-control" @bind="messageInput" placeholder="Unesi poruku" @onkeyup="HandleKeyPress" />
    <button class="btn btn-light mt-3" @onclick="SendMessage">Posalji</button>
</div>

<ul style="height: 400px; overflow-y: auto;">
    @foreach (var message in messages)
    {
        <li>[@message.Timestamp.ToString("g")] @message.UserName: @message.Content</li>
    }
</ul>