@page "/chat"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<h3>Group Chat</h3>

<div>
    <input @bind="groupName" placeholder="Group Name" />
    <button @onclick="JoinGroup">Join Group</button>
    <button @onclick="LeaveGroup">Leave Group</button>
</div>

<div>
    <input @bind="messageInput" placeholder="Type a message" @onkeyup="HandleKeyPress" />
    <button @onclick="SendMessage">Send Message</button>
</div>

<ul style="height: 400px; overflow-y: auto;">
    @foreach (var message in messages)
    {
        <li>[@message.Timestamp.ToString("g")] @message.UserName: @message.Content</li>
    }
</ul>