@page "/events"

<h3>Dešavanja u gradu</h3>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Buduća dešavanja</h5>
        <ul class="list-group">
            <li class="list-group-item">Koncert u parku – 30. jul</li>
            <li class="list-group-item">Seljačka pijaca – 1. avgust</li>
            <li class="list-group-item">Društveni roštilj - 15. avgust</li>
        </ul>
    </div>
</div>
