@page "/"

<div class="p-5 mb-4 bg-dark rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Grad Na Dlanu!</h1>
        <p class="col-md-8 fs-4">Dešavanja, oglasi, zakazivanja i ćaskanja.</p>
        <p>Mesto za widzete.</p>
    </div>
</div>
