@page "/updates"

<h3>Novosti iz grada</h3>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Poslednje novosti</h5>
        <ul class="list-group">
            <li class="list-group-item">Ускоро отварање новог парка</li>
            <li class="list-group-item">Изградња пута на главној ул.</li>
            <li class="list-group-item">Sastanak Skupštine opštine sledeće nedelje</li>
        </ul>
    </div>
</div>
