@page "/classifieds/detail/{AdId}"
@rendermode InteractiveServer

<h3>@Ad?.Title</h3>

@if (Ad != null)
{
    <p>UserID: @Ad.UserId</p>
    <p>Opis: @Ad.Description</p>
    <p>Price: @Ad.Price RSD</p>
    <button @onclick="ContactSeller">Javi se prodavcu</button>
    <button @onclick="EditAd">Izmeni</button> //ToDo: Only add owner should be able to edit the ad
}
else
{
    <p>Loading ad details...</p>
}