@page "/classifieds/contact/{SellerId}/{AdId}"
@rendermode InteractiveServer

<h3>Contact Seller</h3>

<EditForm Model="ClassifiedMessage" OnValidSubmit="SendMessage" FormName="SendMessageForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Message:</label>
        <InputTextArea @bind-Value="ClassifiedMessage.Content" />
    </div>

    <button type="submit">Send Message</button>
</EditForm>